body {
    font-family: sans-serif;
    background: #AA2222;
    color: #FFFFCC;
    margin: 0;
    --alt-background: #006600;
}

h1, article {
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0;
}

article {
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0;
}

article:nth-of-type(2n) {
    background-color: var(--alt-background);
}