body {
  font-family: sans-serif;
  background: #992222;
  color: #FFFFCC;
  margin: 0;
  --alt-background: #006600;
}

h1, article {
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
}

article {
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0;
}

article:nth-of-type(2n) {
  background-color: var(--alt-background);
}

img {
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

@media screen and (min-width: 400px) {
  img {
    border: solid white;
    border-width: 1rem 1rem 3rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 1rem #00000080;
  }

  img:nth-of-type(3n+1) {
    transform: rotate(2deg);
  }

  img:nth-of-type(3n+2) {
    transform: rotate(-1deg);
  }

  img:nth-of-type(3n) {
    transform: rotate(5deg);
  }
}

@media screen and (min-width: 600px) {
  article > div {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }

  article > div p {
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
    text-align: left;
  }

  img {
    width: 100%;
  }

  .portrait {
    width: 45%;
  }
}
